<!DOCTYPE html>

<html lang="en" class="bg-black">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>fct</title>
    </head>
    <body class="flex flex-col justify-between w-screen h-screen">
        <header class="h-24 flex flex-col justify-around">
            <a href="/">
                <img src="/static/dh_logo_white.png" alt="dh logo" height='70px' width='70px' class="m-auto align-baseline">
            </a>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer class="h-24 text-white leading-[6]">
            ddomhall
        </footer>
    </body>
</html>
